<header class="header">
    <div class="header__logo">
        <a href="" data-page="home"><img src="assets/images/logo.jpeg" alt="TopGSelections Logo"></a>
    </div>
    <div class="header__menu-title">
        Top-G-Selections
    </div>
    <div class="header__menu-toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <ul class="header__nav nav" id="nav-menu">
        <li class="header__nav-item"><a href="#" class="header__nav-link" data-page="home">Home</a></li>
        <li class="header__nav-item"><a href="#" class="header__nav-link" data-page="sport">Sport</a></li>
        <li class="header__nav-item"><a href="#" class="header__nav-link" data-page="shop">Shop</a></li>
        <li class="header__nav-item header__nav-toggle--mobile">
            <div class="toggle-switch">
                <input type="checkbox" id="theme-toggle" class="toggle-switch-checkbox">
                <label class="toggle-switch-label" for="theme-toggle">
                    <span class="toggle-switch-inner"></span>
                    <span class="toggle-switch-switch"></span>
                </label>
            </div>
        </li>
    </ul>
    <div class="header__nav-toggle header__nav-toggle--desktop">
        <div class="toggle-switch">
            <input type="checkbox" id="theme-toggle-desktop" class="toggle-switch-checkbox">
            <label class="toggle-switch-label" for="theme-toggle-desktop">
                <span class="toggle-switch-inner"></span>
                <span class="toggle-switch-switch"></span>
            </label>
        </div>
    </div>
</header>
