<header class="header">
    <div class="header__logo">
        <img src="assets/images/logo.jpeg" alt="TopGSelections Logo">
    </div>
    <nav class="header__nav">
        <ul class="header__nav-list">
            <li class="header__nav-item"><a href="#" class="header__nav-link" data-page="home">Home</a></li>
            <li class="header__nav-item"><a href="#" class="header__nav-link" data-page="sport">Sport</a></li>
            <li class="header__nav-item"><a href="#" class="header__nav-link" data-page="shop">Shop</a></li>
        </ul>
    </nav>
    <button id="theme-toggle" class="theme-toggle">Toggle Theme</button>
</header>
