@import '../common/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: $main-color;

  &__logo img {
    width: 100px;
  }

  &__nav {
    &-list {
      display: flex;
      list-style: none;
    }

    &-item {
      margin-right: 20px;
    }

    &-link {
      text-decoration: none;
      color: $text-color;
      font-weight: bold;

      &--active {
        pointer-events: none;
        color: $main-light-color;
      }
    }
  }
}
