@import '../common/variables';
@import '../common/mixins';

.header {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-between;

  &__logo {
    display: inherit;
    min-width: 60px;
    margin-left: 5px;

    img {
      height: 40px;
    }
  }

  &__menu-toggle.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  &__menu-toggle.is-active .bar:nth-child(1) {
    -ms-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  &__menu-toggle.is-active .bar:nth-child(3) {
    -ms-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }

  &__menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: var(--secondary-color);
    margin: 2.5px 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    @include media-query('small') {
      display: block;
    }
  }

  &__menu {
    &-toggle {
      display: none;
      width: 50px;

      &:hover {
        cursor: pointer;
      }

      @include media-query('small') {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    &-title {
      display: none;
      font-size: 20px;
      color: var(--secondary-color);

      @include media-query('small') {
        display: inherit;
        width: 100%;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    padding: 0;
    list-style: none;

    @include media-query('small') {
      flex-direction: column;
      position: fixed;
      justify-content: start;
      top: 50px;
      left: -100%;
      background-color: var(--primary-color);
      height: calc(100vh - 50px);
      transform: translateX(-100%);
      transition: transform 0.3s ease;
      text-align: center;
      overflow: hidden;
      gap: 0;
      margin: 0;
    }

    &-active {
      transform: translateX(0);
      left: 0;
    }

    &-link {
      color: var(--secondary-color);
      text-decoration: none;
      transition: color 0.3s ease-out;
      display: block;
      cursor: pointer;

      @include media-query('small') {
        padding: 20px 16px;
      }

      &:hover {
        color: var(--accent-color);
        background-color: var(--primary-color);
      }

      &--active {
        pointer-events: none;
        color: var(--accent-color);
        font-weight: bold;
      }
    }

    &-item {
      font-size: 20px;

      @include media-query('small') {
        border-top: var(--secondary-color) 1px solid;
        width: 100%;

        &:first-child {
          margin-top: 20px;
        }
      }
    }

    &-toggle--mobile {
      display: none;

      @include media-query('small') {
        display: block;
      }
    }
  }

  &__nav-toggle {
    display: none;
    align-items: center;

    &--desktop {
      display: flex;
      margin-right: 5px;

      @include media-query('small') {
        display: none;
      }
    }
  }
}

.theme-toggle {
  display: none;

  @include media-query('small') {
    display: block;
    background-color: var(--accent-color);
    color: var(--text-light-color);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 50px;

    &:hover {
      background-color: var(--accent-light-color);
    }
  }
}

.toggle-switch {
  position: relative;
  width: 60px;
  display: inline-block;

  @include media-query('small') {
    margin-top: 20px;
  }

  .toggle-switch-checkbox {
    display: none;
  }

  .toggle-switch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid var(--accent-color);
    border-radius: 20px;
  }

  .toggle-switch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;

    &:before, &:after {
      display: block;
      float: left;
      width: 50%;
      height: 20px;
      padding: 0;
      line-height: 20px;
      font-size: 14px;
      color: var(--text-light-color);
      font-weight: bold;
      box-sizing: border-box;
    }

    &:before {
      content: '';
      padding-left: 10px;
      background-color: var(--accent-color);
      color: var(--text-light-color);
    }

    &:after {
      content: '';
      padding-right: 10px;
      background-color: var(--accent-light-color);
      color: var(--text-light-color);
      text-align: right;
    }
  }

  .toggle-switch-switch {
    display: block;
    width: 18px;
    margin: 1px;
    background: var(--text-light-color);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 38px;
    border: 2px solid var(--accent-color);
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
  }

  .toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-inner {
    margin-left: 0;
  }

  .toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch {
    right: 0;
  }
}
