// Primary Colors
$primary-color: #DCAC67; // Gold
$primary-light-color: #F1CE87; // Light Gold
$secondary-color: #FFFFFF; // White
$secondary-dark-color: #1D1D1D; // Dark mode background

// Text Colors
$text-color: #000000; // Black
$text-light-color: #FFFFFF; // White for dark mode

// Background Colors
$background-color: #F5F5F5; // Light background
$background-dark-color: #333333; // Dark background

// Accent Colors
$accent-color: #8B0000; // Dark Red
$accent-light-color: #FF6347; // Tomato

// Dark Mode
:root {
  --primary-color: #DCAC67;
  --primary-light-color: #F1CE87;
  --secondary-color: #FFFFFF;
  --secondary-dark-color: #1D1D1D;
  --text-color: #000000;
  --text-light-color: #FFFFFF;
  --background-color: #FFF;
  --background-dark-color: #333333;
  --accent-color: #8B0000;
  --accent-light-color: #FF6347;
}

[data-theme='dark'] {
  --primary-color: #F1CE87;
  --primary-light-color: #DCAC67;
  --secondary-color: #1D1D1D;
  --secondary-dark-color: #333333;
  --text-color: #FFFFFF;
  --text-light-color: #000000;
  --background-color: #333333;
  --background-dark-color: #1D1D1D;
  --accent-color: #FF6347;
  --accent-light-color: #8B0000;
}
