@import '../components/header';
@import '../components/footer';
@import '../pages/home';
@import '../pages/sport';
@import '../pages/shop';

.content {
  display: block;
  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

:root {
  font-family: "MuseoSans", sans-serif;
}
